<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand text-white">Team Management System</a>

    <a class="dropdown-center">
      <a  class="nav-link dropdown-toggle btn btn-outline-success my-2 my-sm-0  btn-secondary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-person-fill-gear"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-gear"
          viewBox="0 0 16 16">
          <path
            d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
        </svg></a>


      <div class="dropdown-menu text-center">
        <a class="dropdown-item" href="#">Adding Player</a>
        <!-- <div role="separator" class="dropdown-divider"></div> -->
        <a class="dropdown-item" href="#">Users</a>
        <a class="dropdown-item" href="#">Sign Out</a>

      </div>
    </a>
</nav>

<br> <br> <br>

<nav class="allbtn mx-auto" style="width: 33%">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="nav-item nav-link" routerLink="all-players" role="tab" aria-controls="color2" aria-selected="true">All Players</li>
    <li class="nav-item nav-link" routerLink="color1" role="tab" aria-controls="color2" aria-selected="false">Color 1</li>
    <li class="nav-item nav-link" routerLink="color2" role="tab" aria-controls="color2" aria-selected="false">Color 2</li>
    <li class="nav-item nav-link" routerLink="color3" role="tab" aria-controls="color3" aria-selected="false">Color 3</li>
    <li class="nav-item nav-link" routerLink="color4" role="tab" aria-controls="color4" aria-selected="false">Color 4</li>
    <li class="nav-item nav-link" routerLink="color5" role="tab" aria-controls="color5" aria-selected="false">Color 5</li>
    <li class="nav-item nav-link" routerLink="color6" role="tab" aria-controls="color6" aria-selected="false">Color 6</li>
  </div>
</nav>

<router-outlet></router-outlet>
